$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quatern-color: #FA9500;
$font-stackl: 'IBM Plex Sans' , sans-serif; 
$paragraph-size: 1.5em;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

html {
    font-size: 62.5%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stackl;
    box-sizing: border-box;
}

nav {
    width: auto;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;
    padding: 15px;
    p {
        font-size: 2.5em;
        padding-left: 35px;
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle();
    }
    .icons-mobile {
        display: none;
    }
}

article {
    color: $primary-text-color;
    padding: 0 45px;
    @include flexCenter(row, space-between, center);
    .impact-section {
        @include flexCenter(column, space-evenly, flex-start);
        padding-top: 50px;
        gap: 25px;
    }
    h1 {
        font-size: 3em;
        padding: 0;
        margin: 0;
    }
    p {
        font-size: $paragraph-size;
    }
    @include buttonStyle();
    button {
        width: 150px;
        padding: 20px;
        background-color: $quatern-color;
        border-radius: 35px;
        color: white;
        font-size: 1.4em;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2.2em;
    }

    .healthcare {
        padding-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 40px;
        }
        .card-section {
            width: auto;
            height: auto;
            @include flexCenter(row, space-between, center);
            flex-wrap: wrap;
            column-gap: 60px;
            row-gap: 80px;
            
        }
        .product-card {
            width: 205px;
            height: auto;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 15px;
            border-radius: 8px;
            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg path{
                    width: 25px;
                    height: 25px;
                    stroke: currentColor;
                }
            }
            .product-image {
                width: 100%;
                height: auto;
                display:flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 200px;
                    height: 250px;
                    background-image: cover;
                    border-radius: 6px;
                }
            }
        }
    }

    .furniture {
        @extend .healthcare;
        .product-card {
            background-color: $tertiary-color;
            color: white;
        }
    }
}

footer {
    background-color: $quatern-color;
    width: 100%;
    height: 250px;
}

@media (max-width: 700px) {
    nav {
        display: flex;
        height: 35px;
        padding-top: 20px;
        align-items: center;
        p {
            font-size: 2rem;
        }
        .icons {
            display: none;
        }
        .icons-mobile {
            display: flex;
            width: 32px;
            height: 32px;
        }
    }
    main {
        padding: 5px 22.5px;
        article {
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
            .impact-section {
                width: 100%;
                grid-row: 2 / 3;
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                gap: 5px;
                h1 {
                    font-size: 2.8rem;
                    margin: 11px 0 0 0;
                }
                p {
                    font-size: 1.2rem;
                    margin-bottom: 18px;
                }
                button {
                    width: 150px;
                    height: 42px;
                    font-size: 1.3rem;
                }
            }
            .img-section {
                width: 100%;
                grid-row: 1 / 2;
                padding: 0;
                img {
                    width: 100%;
                    height: 75vh;
                }
            }
        }
    }
    section {
        padding:0;
    }
}